html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#battleText {
  overflow-y: scroll;
  max-width: 100%;
  max-height: 33%;
  top: 32%;
  position: fixed;
}

#canvas {
  max-width: 100%;
}

#characterSelect {
  background-color: whitesmoke;
  max-width: 100%;
  max-height: 100%;
}

#enemy {
  background-color: whitesmoke;
  max-width: 100%;
  max-height: 30%;
  top: 0;
  left: 0;
  position: fixed;
}

#itemList {
  position: absolute;
  padding: 1% 1% 1% 1%;
  overflow: auto;
}

#player {
  background-color: whitesmoke;
  max-width: 100%;
  max-height: 30%;
  bottom: 0;
  right: 0;
  position: fixed;
}

#stats {
  font-size: 1.2em;
}
.modalCloseX {
  position: absolute;
  top : 0;
  right: 0;
  padding-bottom: 5px;
}

.equipButton {
  margin-right: 5%;
  border-radius: 4px;
  background-color: #0F3C73;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.inventoryWindow {
  margin-left: 25%;
  position: relative;
  height: 30%;
  width: 30%;
  padding: 2px;
  background-color: #808080;
  border-style: double;
  border-width: 5px;
  border-color: #000000;
  color: #FFFFFF;
  text-align: left;
  top: 50%;
  display: none;
}

.selectButton {
    padding: 10%;
    width: 75%;
    margin: 3%;
    display: inline-block;
    border-radius: 4px;
    background-color: #0F3C73;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
  }

  .selectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .selectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .selectButton:hover span {
    padding-right: 25px;
  }

  .selectButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  #playerStats {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    border: 0px;
    background-color: #5882A6;
    padding-bottom: 10px;
  }

.attributes > p > span {
  color: #48A543;
  font-size: 1.5em;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    max-width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    z-index: 1001;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);

      -webkit-transition: all 0.3s 0.6s ease-out;
              transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

/* start of desktop styles */
@media screen and (max-width: 2600px) {
  .img-fluid {
    max-width: 15%;
  }
}

@media screen and (max-width: 1600px) {
 /* start of large tablet styles */
 .img-fluid {
   max-width: 15%;
 }
}


@media screen and (max-width: 1200px) {
 /* start of large tablet styles */
 .img-fluid {
   max-width: 20%;
 }
}

@media screen and (max-width: 767px) {
 /* start of medium tablet styles */
 /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
 .img-fluid {
   max-width: 30%;
 }
}

@media screen and (max-width: 479px) {
 /* start of phone styles */
 /* It's possible to hide the image if the screen becomes too small */
 .img-fluid {
   max-width: 30%;
 }

 h2 {
   font-size: 0.80em;
 }

 #player {
   padding-left: 0px;
   padding-right: 0px;
 }
}
